* {
  box-sizing: border-box;
}

.header {
  background-image: url("./assets/images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* color: gray;
  text-shadow: 0 0 2px white; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  /* font-size: 36px; */
}

.selected {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

/* card title text with ribbon transition on title */
.label {
  position: absolute;
  top: 15px;
  left: 0px;
  background-color: rgba(60, 60, 60, 0.8);
  color: #fffcf2;
  border-radius: 0 10px 10px 0;
  transition: 0.3s;
}

.label h3 {
  padding: 5px 15px 0 15px;
  font-size: 24px;
}

.label p {
  padding: 0px 15px;
  font-size: 18px;
}

/* this is the ribbon extending effect on the card titles */
a:hover .label {
  padding: 0px 40px 0px 15px;
}

/* Image size fixes - std should fill to container width, hero has min width and about has width according to page size */
img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  object-position: top center;
}

.avatar {
  width: 300px;
}

/* end image size fixes */

.project {
  position: relative;
}
